# Pandas practice

### 1. Download the dataset from the this URL 
### 2. Load it into a DataFrame

In [2]:
import pandas as pd
data = pd.read_csv("Car_Insurance.csv")

### 3. Observe the name of the columns and the corresponding data type

In [12]:
data.head(5)

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance
0,1,32,management,single,tertiary,0,1218,1,0,telephone,28,jan,2,-1,0,NaN,13:45:20,13:46:30,0
1,2,32,blue-collar,married,primary,0,1156,1,0,NaN,26,may,5,-1,0,NaN,14:49:03,14:52:08,0
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,16:30:24,16:36:04,1
3,4,25,student,single,primary,0,373,1,0,cellular,11,may,2,-1,0,NaN,12:06:43,12:20:22,1
4,5,30,management,married,tertiary,0,2694,0,0,cellular,3,jun,1,-1,0,NaN,14:35:44,14:38:56,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                4000 non-null   int64
 1   Age               4000 non-null   int64
 2   Job               3981 non-null   object
 3   Marital           4000 non-null   object
 4   Education         3831 non-null   object
 5   Default           4000 non-null   int64
 6   Balance           4000 non-null   int64
 7   HHInsurance       4000 non-null   int64
 8   CarLoan           4000 non-null   int64
 9   Communication     3098 non-null   object
 10  LastContactDay    4000 non-null   int64
 11  LastContactMonth  4000 non-null   object
 12  NoOfContacts      4000 non-null   int64
 13  DaysPassed        4000 non-null   int64
 14  PrevAttempts      4000 non-null   int64
 15  Outcome           958 non-null    object
 16  CallStart         4000 non-null   object
 17  CallEnd           4000 non-null   object
 18  CarInsurance      4000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 593.9+ KB

### 4. Check how many missing values each column has

In [5]:
missing_values = data.isnull().sum()

print(missing_values)

Id                     0
Age                    0
Job                   19
Marital                0
Education            169
Default                0
Balance                0
HHInsurance            0
CarLoan                0
Communication        902
LastContactDay         0
LastContactMonth       0
NoOfContacts           0
DaysPassed             0
PrevAttempts           0
Outcome             3042
CallStart              0
CallEnd                0
CarInsurance           0
dtype: int64

### 5. Drop the rows containing missing values

In [6]:
df_cleaned = data.dropna()

print(df_cleaned)

        Id  Age           Job  Marital  Education  Default  Balance  \
2        3   29    management   single   tertiary        0      637
5        6   32    technician   single   tertiary        0     1625
15      16   61    management   single   tertiary        0        2
16      17   34        admin.   single  secondary        0       69
17      18   46    management  married   tertiary        0     7331
...    ...  ...           ...      ...        ...      ...      ...
3987  3988   27        admin.  married   tertiary        0     2855
3990  3991   27    technician   single  secondary        0      126
3992  3993   34    technician  married  secondary        0        0
3995  3996   28    technician   single   tertiary        0        0
3998  3999   36  entrepreneur   single   tertiary        0      658

      HHInsurance  CarLoan Communication  LastContactDay LastContactMonth  \
2               1        0      cellular               3              jun
5               0        0      cellular              22              may
15              0        0      cellular              12              aug
16              1        0     telephone               6              may
17              0        0      cellular              11              sep
...           ...      ...           ...             ...              ...
3987            0        0      cellular              25              jan
3990            1        1      cellular               5              feb
3992            1        0      cellular               5              aug
3995            1        0      cellular              25              may
3998            1        0      cellular              29              jan

      NoOfContacts  DaysPassed  PrevAttempts  Outcome CallStart   CallEnd  \
2                1         119             1  failure  16:30:24  16:36:04
5                1         109             1  failure  14:58:08  15:11:24
15               1         114             3  failure  16:18:48  16:20:59
16               3         362             4    other  11:48:45  11:50:17
17               4          95             2    other  11:23:26  11:34:24
...            ...         ...           ...      ...       ...       ...
3987             1         301             3  failure  09:55:44  09:59:44
3990             2         216             4  failure  13:30:49  13:33:16
3992             2           2             3  success  10:51:19  10:55:10
3995             1          40             2  failure  17:46:28  17:50:57
3998             1         227             3  failure  11:27:35  11:29:14

      CarInsurance
2                1
5                1
15               1
16               0
17               1
...            ...
3987             1
3990             0
3992             1
3995             1
3998             0

[907 rows x 19 columns]

### 6. For the numerical values, obtain the mean average value

In [7]:
data.describe()

,Id,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,CarInsurance
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,2000.500000,41.214750,0.014500,1532.937250,0.49275,0.133000,15.721250,2.607250,48.706500,0.717500,0.401000
std,1154.844867,11.550194,0.119555,3511.452489,0.50001,0.339617,8.425307,3.064204,106.685385,2.078647,0.490162
min,1.000000,18.000000,0.000000,-3058.000000,0.00000,0.000000,1.000000,1.000000,-1.000000,0.000000,0.000000
25%,1000.750000,32.000000,0.000000,111.000000,0.00000,0.000000,8.000000,1.000000,-1.000000,0.000000,0.000000
50%,2000.500000,39.000000,0.000000,551.500000,0.00000,0.000000,16.000000,2.000000,-1.000000,0.000000,0.000000
75%,3000.250000,49.000000,0.000000,1619.000000,1.00000,0.000000,22.000000,3.000000,-1.000000,0.000000,1.000000
max,4000.000000,95.000000,1.000000,98417.000000,1.00000,1.000000,31.000000,43.000000,854.000000,58.000000,1.000000

### 7. Observe the Job column. How many categories can you find? What is the most frequent?

In [8]:
# Count the unique categories in the 'Job' column
unique_jobs = data['Job'].nunique()

# Find the most frequent job
most_frequent_job = data['Job'].value_counts().idxmax()
most_frequent_job_count = data['Job'].value_counts().max()

print(f"Number of unique job categories: {unique_jobs}")
print(f"Most frequent job: {most_frequent_job} with {most_frequent_job_count} occurrences")

Number of unique job categories: 11
Most frequent job: management with 893 occurrences

### 8. Create a new column with the duration of each call in seconds

In [13]:
# Convert 'CallStart' and 'CallEnd' to datetime format
data['CallStart'] = pd.to_datetime(data['CallStart'], format='%H:%M:%S')
data['CallEnd'] = pd.to_datetime(data['CallEnd'], format='%H:%M:%S')

In [14]:
data['CallStart']

0      1900-01-01 13:45:20
1      1900-01-01 14:49:03
2      1900-01-01 16:30:24
3      1900-01-01 12:06:43
4      1900-01-01 14:35:44
               ...
3995   1900-01-01 17:46:28
3996   1900-01-01 14:49:16
3997   1900-01-01 12:19:03
3998   1900-01-01 11:27:35
3999   1900-01-01 13:31:48
Name: CallStart, Length: 4000, dtype: datetime64[ns]

In [20]:
# Calculate the duration in seconds
data['CallDurationSeconds'] = (data['CallEnd'] - data['CallStart']).dt.total_seconds()
data['CallDurationSeconds']

0        70.0
1       185.0
2       340.0
3       819.0
4       192.0
        ...
3995    269.0
3996    125.0
3997    290.0
3998     99.0
3999    274.0
Name: CallDurationSeconds, Length: 4000, dtype: float64

### 9. What is the average duration of each call?

In [22]:
average_call_duration = data['CallDurationSeconds'].mean()
average_call_duration

np.float64(350.844)

In [24]:
print(f"Mean Call Duration in Seconds: {average_call_duration}")

Mean Call Duration in Seconds: 350.844

### 10. For those people contacted during the first half of the year (Jan-June). What is the most common way of communication (telephone, cellular...)?

In [26]:
# Define the months for the first half of the year
first_half_months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']

# Filter the DataFrame
df_first_half = data[data['LastContactMonth'].isin(first_half_months)]

In [27]:
# Drop rows where 'Communication' is None
df_first_half = df_first_half.dropna(subset=['Communication'])

# Find the most common way of communication
most_common_communication = df_first_half['Communication'].mode()[0]

print(f"Most common way of communication: {most_common_communication}")

Most common way of communication: cellular